@tailwind base;
@tailwind components;
@tailwind utilities;


.blurred-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://images.unsplash.com/photo-1542838132-92c53300491e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -1;
  }


  .mr-4 {
    margin-right: 1rem !important; /* Adjust the margin as needed */
  }